
@font-face {
    font-family: "Kult";
    src: url(fonts/kult-the-temple-of-flying-saucers.ttf);
  }


h1, h2, p {
    font-family: Kult, Arial, Helvetica, sans-serif;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rps-choices {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 2em;
}


.choiceButton {   
    background-color: transparent;
    max-width: 200px;
    flex-grow: 1;
    border: none;

}

.choiceButton img {
    max-width: 200px;
    flex-grow: 1;
    border: none;
    
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#scoreboard {
    font-family: Arial, Helvetica, sans-serif;
}