
@font-face {
    font-family: "Kult";
    src: url(fonts/kult-the-temple-of-flying-saucers.ttf);
  }

h1 {
    font-size: xx-large;
    font-style: underline;
}

h1, h2, p, #scoreboard, #gameResult {
    font-family: Kult, Arial, Helvetica, sans-serif;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Button Container */
.rps-choices {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 1em;
    border: black dashed 12px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.choiceButton {   
    background-color: transparent;
    max-width: 50%;
    flex-grow: 1;
    border: none;

}

.choiceButton img {
    max-width: 50%;
    flex-grow: 1;
    border: none;
    
}

/* Grow hover effect */
.hvr-grow {
    
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
 
}


#gameResult, ol, li, p {
    list-style-type: decimal;
    font-family: Kult, Arial, Helvetica, sans-serif;
    font-size: smaller;
    line-height: 1.5; 
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#scoreboard {
    font-size: medium;
    font-family: Kult, Arial, Helvetica, sans-serif;
    margin: 3vh;
}

/* Game Over Pop-up Container Styling */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .popup-content {
    position: absolute;
    border: 15px solid black;  
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
  }
  
  #popupMessage {
    font-family: Kult, Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 10px;
    padding: 2vh;
    
  }
  
  #playAgainButton {
    font-size: x-large;
    border: 8px solid black;    
    background-color: white;
    color: black;
    padding: 16px 32px;
    margin: 2vh;
    cursor: pointer;
    font-family: Kult, Arial, Helvetica, sans-serif;
  }

  #playAgainButton:hover {
    background-color: black;
    color: white;
  }
  