
@font-face {
    font-family: "Kult";
    src: url(fonts/kult-the-temple-of-flying-saucers.ttf);
  }


h1, h2, p, #scoreboard, #gameResult {
    font-family: Kult, Arial, Helvetica, sans-serif;

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rps-choices {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 2em;
}


.choiceButton {   
    background-color: transparent;
    max-width: 33%;
    flex-grow: 1;
    border: none;

}

.choiceButton img {
    max-width: 33%;
    flex-grow: 1;
    border: none;
    
}

/* Grow hover effect */
.hvr-grow {
    
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
 
}


#gameResult, ol, li, p {

    list-style-type: decimal;
    font-family: Kult, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5; 


}

#scoreboard {
    font-family: Kult, Arial, Helvetica, sans-serif;
    margin: 3vh;
}

/* Game Over Pop-up Container Styling */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  
  .popup-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #popupMessage {
    margin-bottom: 10px;
  }
  
  #playAgainButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  